*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#inicio {
    height: 800px;
    width: auto;
    background-image: url("imagens/igm-fundo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.onda1{
    z-index: 0;
    /* transform: rotateY(180deg); */
    background: url(imagens/wave\ \(3\).png);
    background-size: cover;
    min-height: 40vh;
    padding-left: 0.8rem;

    display: flex;
}

.onda1 div {
    margin: 1rem 1.5rem 1rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#lua{
    height: 80px;
    width: 80px;
}
#menu{
    height: 50px;
    width: 50px;
    margin-top: 0.5rem;
}
#logo-ceara{
    width: 45vw;
    height: 120px;
}

.header-imagens {
    z-index: 1;
    transform: rotateY(360deg);
}

/* Menu lateral */

.menu {
    display: block;
}