@media screen and (max-height: 460px) {
    .onda1 {
        background-size: 100% 10rem;
    }

    #logo-ceara {
        width: 38vw;
        padding-left: 2%;
    }
}

@media screen and (max-width: 896px) {
    .conteudo-ltr:nth-child(4) {
        display: none;
    }

    label .buscador {
        margin-left: -2em;
    }
}

@media screen and (max-width: 768px) {
    #inicio {
        background-size: 100% 550px;
    }

    .onda1 {
        background-size: 100% 8rem !important;
    }

    #logo-ceara {
        margin-top: -1rem;
    }
}