* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow: hidden;
}

#inicio {
    height: 800px;
    width: auto;
    background-image: url("../imagens/igm-fundo2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 750px;
    z-index: 0;
}

header {
    max-height: 875px;
    overflow: hidden;
}

.onda1 {
    z-index: 0;
    /* transform: rotateY(180deg); */
    background: url(../imagens/onda-verde-cortada.png) no-repeat;
    background-size: 100% 25vh;
    width: 100%;
    height: 40vh;
    padding-left: 0.8rem;
    display: flex;
}

.onda1 div {
    margin: 1rem 0.8em;
    margin-left: 0.8em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#lua {
    width: 30px;
    height: 30px;
    z-index: 10;
}

#logo-ceara {
    width: 45%;
    height: calc(120px - 1vw);
    margin-top: 1%;
}

.header-imagens {
    z-index: 1;
}

/* Menu lateral */
#menu {
    width: 42px;
    margin-top: 1rem;
    margin-left: 0.2em;
}

input[type='checkbox'] {
    display: none;
}

.onda1 input[type='checkbox']:checked~nav {
    top: 0;
}

nav {
    background-color: #308130b0;
    width: 350px;
    height: fit-content;
    position: absolute;
    top: -230px;
    left: 0;
    z-index: 2;
    transition: 0.5s;
}

label {
    z-index: 3;
    height: 45px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin-top: 70px;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    display: block;
    padding: 15px 0.8em;
    transition: 0.3s;
}

a:hover {
    color: #ffd700;
    background: #40a840;
}

/* Modo Noturno */

input[type='checkbox'].night-mode:checked~label img[class='sol-icone'] {
    display: block;
}

input[type='checkbox'].night-mode:checked~label img:last-child {
    display: none;
}

.sol-icone {
    display: none;
    width: px;
    height: 70px;
}



.onda2 {
    z-index: 0;
    background: url(../imagens/onda-laranja-cortada.png) no-repeat;
    background-size: 100% 185px;
    margin-top: 100px;
    padding-left: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 278px;

    width: 100%;
}

/* .onda2 div:last-child {
    width: 100%;
    height: 3px;
    background-color: #0A7636;
    z-index: 2;
    align-self: end;
} */

.onda2 .idiomas {
    height: fit-content;
    margin-top: 8.6rem;
}

.onda2 .idiomas img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.onda2 #ze-gota {
    width: 180px;
    height: 180px;
    margin-bottom: -1.35em;
    margin-right: -2em;
}

.coronavirus {
    min-width: 30%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    font-family: sans-serif;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0.8em -75px -0.8em;

    letter-spacing: 0;
}

h1 a span {
    font-weight: 800;
    color: #0A7636;
}

h1>a,
h1>a:hover {
    background-color: transparent;
    color: white;
    padding: 0;
}

h1 a:last-child {
    font-size: 0.5em;
    color: #0000ff;
    text-decoration: underline;
}

/* Barra de Procurar */

label .buscador {
    width: 28px;
    margin-left: 42vw;
}

.campo-de-busca {
    min-width: 300px;
    width: 35%;
    height: 35px;
    padding: 0.5em 0.8em;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 4rem;
    right: -40rem;
    transition: 0.8s ease-in-out;
}

input[type='checkbox']#search:checked~.campo-de-busca {
    right: 3rem;
}

input[type='checkbox']#search:checked~label .buscador {
    display: none;
}

input[type='checkbox']#search:checked~label .buscador-preto {
    display: block;
}

label .buscador-preto {
    display: none;
}